.output-display{
    margin: 20px 0 30px;
    padding: 2%;
    min-height: 100px;
    max-height: 200px;
    text-align: end;
    background: #94c88a;
    border-radius: 20px;
    word-wrap: break-word;
    word-break: break-all;
    overflow-y: scroll;
    box-shadow: inset 10px 5px #ace7a0;
}

.previous-operand{
    font-size: 1.2rem;
    font-family: 'Space Mono', monospace;
    color: #000;
    opacity: 0.75;
}

.current-operand{
    margin-top: 25px;
    font-size: 2.5rem;
    font-family: 'Space Mono', monospace;
    color: #000;
}